{% extends 'base.html' %}
{% block content %}
  <div class="row justify-content-center">
      <div class="col-md-6">
              <div class="text-center">
                  <h2>Авторизация</h2>
              </div>
                  <form method="post">
                      <div class="mb-3">
                          <label for="login" class="form-label">Логин</label>
                          <div class="input-group">
                              <input type="text" class="form-control bg" id="login" placeholder="Введите логин" name="login" value="{{ request.form.login }}" required>
                          </div>
                      </div>
                      <div class="mb-3">
                          <label for="password" class="form-label">Пароль</label>
                          <div class="input-group">
                              <input type="password" class="form-control bg" id="password" placeholder="Введите пароль" name="password">
                          </div>
                      </div>
                      <div class="mb-3 form-check">
                          <input type="checkbox" class="form-check-input" id="remember_me" name="remember_me">
                          <label class="form-check-label" for="remember_me">Запомнить меня</label>
                      </div>
                      <div class="d-grid">
                          <button type="submit" class="btn btn-dark mt-2 mb-4">Войти</button>
                      </div>
                  </form>
          </div>
  </div>
{% endblock%}